.button-container nav button#connectWallet::before {
  content: 'CONNECT WALLET';
}

.button-container nav button:nth-child(1):not(#connectWallet)::before {
  content: 'PLAY';
}

.button-container nav button:nth-child(2):not(#connectWallet)::before {
  content: 'LEADER BOARD';
}

.button-container nav button:nth-child(3):not(#connectWallet)::before {
  content: 'BUY TURN';
}

.button-container nav button:nth-child(4):not(#connectWallet)::before {
  content: 'ABOUT';
}
