.button-container nav .common_button#connectMeteMaskWallet::before {
  content: 'CONNECT WALLET';
}

.button-container nav .common_button#connectWalletConnect::before {
  content: 'WALLET CONNECT';
}

.button-container nav .common_button:nth-child(1)::before {
  content: 'PLAY';
}

.button-container nav .common_button:nth-child(2)::before {
  content: 'LEADER BOARD';
}

.button-container nav .common_button:nth-child(3)::before {
  content: 'BUY TURN';
}

.button-container nav .common_button:nth-child(4)::before {
  content: 'INVENTORY';
}

.button-container nav .common_button:nth-child(5)::before {
  content: 'LOG OUT';
}

.button-container nav {
  width: 250px;
}

.form {
  background-color: cornflowerblue;
  padding: 12px;
  border-radius: 5px;
}

.form label {
  color:  #fff !important;
}

.form .center {
  display: flex;
  justify-content: center;
}

.turn {
  position: absolute;
  color:  rgba(34,147,214,1);
  font-family: 'Georgia';
  font-size: 20px;
  z-index: 2;
}