.button-container nav .common_button#Injected::before {
  content: 'CONNECT WALLET';
}

.button-container nav .common_button#WalletConnect::before {
  content: 'WALLET CONNECT';
}

.button-container nav .common_button:nth-child(1)::before {
  content: 'PLAY';
}

.button-container nav .common_button:nth-child(2)::before {
  content: 'LEADER BOARD';
}

.button-container nav .common_button:nth-child(3)::before {
  content: 'BUY TURN';
}

.button-container nav .common_button:nth-child(4)::before {
  content: 'INVENTORY';
}

.button-container nav {
  width: 250px;
}

.loading-userdata {
  background-color: #fff;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
}


.turn {
  position: absolute;
  color:  rgba(34,147,214,1);
  font-family: 'Georgia';
  font-size: 20px;
  z-index: 2;
}